.a123224455 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.card12224455 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(157, 190, 190);
  padding: 1rem;
  border-radius: 1rem;
}
.instituteimg2244 {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
