.institutediv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.likefollow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}
.likefollo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textdiv {
  margin-left: 0.5rem;
  margin-top: 0.9rem;
}
.display11 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textedit {
  color: rgb(8, 61, 83);
  font-size: 1rem;
}
.institutebtn {
  display: flex;
  justify-content: right;
  margin-bottom: 1rem;
}
.display11 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textedit {
  color: rgb(8, 61, 83);
  font-size: 1rem;
}
.ant-modal-footer {
  display: none !important;
}
.btnupdate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.centerinputbtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
